{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %} ">
<form action="{% url 'login' %}" method="POST">
   {% csrf_token %}
   <table>
       <tr>
           <td>born year</td><td><input type="number" name="num1" id=""></td>
       </tr>
       <tr>
           <td>year</td><td><input type="number" name="num2" id=""></td>
       </tr>
       <tr>
           <td></td><td><input type="submit" value="submit"></td>
       </tr>
   </table>
</form>
<h1>akshay page</h1>